@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@500;700&family=Zen+Kaku+Gothic+Antique:wght@500;700&display=swap");

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: hsl(180, 52%, 96%);
  --cyan: hsl(180, 31%, 95%);
  --gray: hsl(180, 8%, 52%);
  --black: hsl(180, 14%, 20%);
  --primary: hsl(180, 29%, 50%);

}

.App {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  color: black;
  background-color: var(--bg);

  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App__header {
  width: 100%;
  height: 150px;
  background-size: cover;
  background: var(--primary) url('./assets/bg-header-desktop.svg') no-repeat;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
